numpy
pandas
matplotlib
seaborn
requests
opencv-python
tqdm
lxml
plotly
ipywidgets
ipykernel
jupyterlab>=3.0.0
setuptools
scipy
wandb
scikit-learn
joblib
optuna
xgboost
feature_engine
Flask
gunicorn
waitress
python-dotenv
streamlit